body {
  min-height: 100vh;
  background-color: #FFF;
  display: block;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

.material-icons {
  color: #FFFFFF;
  background-color: #4169e1;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  margin: 16px;
  width: 25px;
  height: 25px;
}


.h4 {

}