/*
 * Variables
 */

:root {
  --card-padding: 0px;
  --card-height: 300px;
  --card-skeleton: linear-gradient(lightgrey var(--card-height), transparent 0);

  --image-size: 300px;
  --image-height: 150px;
  --image-position: 0 0;
  --image-skeleton: linear-gradient(white var(--image-height), transparent 0);

  --title-width: 280px;
  --title-height: 10px;
  --title-position: 0 180px;
  --title-skeleton: linear-gradient(white var(--title-height), transparent 0);

  --desc-line-height: 16px;
  --desc-line-skeleton: linear-gradient(white var(--desc-line-height), transparent 0);
  --desc-line-1-width: 230px;
  --desc-line-1-position: var(--card-padding) 242px;
  --desc-line-2-width: 180px;
  --desc-line-2-position: var(--card-padding) 265px;

  --blur-width: 200px;
  --blur-size: var(--blur-width) calc(var(--card-height) - var(--footer-height));
}

/*
 * Card Skeleton for Loading
 */



.card-loader {
  width: 350px;
  margin: 10px 13px 10px 13px;
  height: var(--card-height);

  &:empty::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0 10px 45px rgba(0, 0, 0, .1);

    background-image: linear-gradient(
                    90deg,
                    rgba(lightgrey, 0) 0,
                    rgba(lightgrey, .8) 50%,
                    rgba(lightgrey, 0) 100%
    ), //animation blur
    var(--title-skeleton),
    var(--desc-line-skeleton),
    var(--desc-line-skeleton),
    var(--image-skeleton),
    var(--card-skeleton)
  ;

    background-size: var(--blur-size),
    var(--title-width) var(--title-height),
    var(--desc-line-1-width) var(--desc-line-height),
    var(--desc-line-2-width) var(--desc-line-height),
    var(--image-size) var(--image-size),
    100% var(--footer-height),
    100% 100%;

    background-position: -150% 0,
    var(--title-position),
    var(--desc-line-1-position),
    var(--desc-line-2-position),
    var(--image-position),
    0 0
  ;

    background-repeat: no-repeat;
    animation: aniVertical 4s infinite;
  }
}



// Choose your favorite spooky skeleton animation


@keyframes loading {
  to {
    background-position: 350% 0,
    var(--title-position),
    var(--desc-line-1-position),
    var(--desc-line-2-position),
    var(--image-position),
    0 0;
  }
}


@keyframes aniVertical {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}
