
ul {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    display: block;
    list-style: none;
  }
}


button.prev, button.next {
  display: flex;
  font-size: 32px;
  align-items: center;
  justify-content: center;
  color: #FFF;
  background-color: #5852529e;
  width: 44px;
}

button.prev {
  position: absolute;
  left: 0;
  bottom: 40px;
  display: none
}

button.next {
  position: absolute;
  right: 0;
  bottom: 40px;
}


.carousel-container {
  width: 100%;
  min-height: 350px;
  background-color: $softGrey;
  margin: 40px 6px;
  box-shadow: 0px -2px 9px 1px $shadowGrey;
  position: relative;
}

.card-container {
  display: flex;
  overflow-x: hidden;
  position: relative;
  min-height: 350px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel-controller-arrow {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  height: 300px;
  position: absolute;
  margin-top: 10px;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    position: absolute;
  }
}


.collection-sidecard {
  background-color: white;
  width: 99%;
  height: 5px;
  position: absolute;
  bottom: -6.5px;
  left: 1.2px;
  box-shadow: 1px 2px 0px 0px #7b777778;
}

.collection-sidecard-2 {
  background-color: white;
  width: 98%;
  height: 5px;
  position: absolute;
  bottom: -12.4px;
  left: 3.2px;
  box-shadow: 0px 1px 1px 0px #7b777778;
}

.carousel-header {
  display: flex;
  align-items: center;
}

h3.carousel-subtitle {
  font-family: 'Open Sans';
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: 400;
}

h2.carousel-title {
  color: $docDarkBlue;
  font-family: 'Open Sans';
  font-weight: 400;
  margin-block-start: 0.4em;
  margin-block-end: 0.2em;
}

.carousel-head-container {
  padding-left: 10px;
}

.card-title {
  color: #0465ac;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
}

.carousel-card {
  background-color: white;
  margin: 10px 13px 10px 13px;
  padding: 0px 0px;
  box-shadow: 4px 4px 12px 0px #7b777778;
  height: 300px;
  width: 300px;
  position: relative;
}

.card-image-container {
  position: relative;

  .card-type {
    position: absolute;
    bottom: 8px;
    left: 5px;
    text-transform: uppercase;
    @include info-img;

  }

  .card-duration {
    position: absolute;
    bottom: 8px;
    right: 5px;
    @include info-img;
  }


}

.card-text {

}


.card-infoarea {
  padding: 10px 23px;
}

.card-subtext {
  font-size: 10px;
  color: lightgrey;
}

.carousel-card {
  &[data-type-card="collection"] .test {

  }
}

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}


/*
 * Demo Stuff
 */

.carousel-viewer {
  width: 100%;
  overflow: hidden;
}


@media screen and (max-width: 768px) {
  .card-container {
    width: unset;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .carousel-container {
  }
}