$greenMagic: #417203;

//here starts a malediction

.malediction {

  #nagakaborous{
    background-image: url('../assets/images/nagakaborous.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: invokation 1s ease-in-out forwards;
  }

  &.carousel-container {
    background-image: url("../assets/images/background-paper2.jpg");
  }

  h2.carousel-title{
    font-family: 'Vultures', 'Open Sans';
    font-size: 39px;
    color: $greenMagic;
  }

  h3.carousel-subtitle{
    font-family: 'Vultures', 'Open Sans';
    font-size: 39px;
  }

  .card-title{
    font-family: 'Vultures', 'Open Sans';
    font-size: 29px;
    font-weight: 400;
  }

  .material-icons{
    cursor:pointer
  }
}

@keyframes invokation {
  0% {
    height: 0;
  }

  100% {
    height: 1100px;
  }
}



